<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="row w-100 m-0">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
          <div class="card col-lg-4 mx-auto">
            <div class="card-body px-5 py-5">
              <h3 class="card-title text-left mb-3">Cadastre-se</h3>
              <form>         
                <div class="form-group">
                    <label>Nome Completo</label>
                    <input type="text" class="form-control p_input">
                  </div>    
                <div class="form-group">
                  <label>E-mail</label>
                  <input type="email" class="form-control p_input">
                </div>
                <div class="form-group">
                  <label>Senha</label>
                  <input type="password" class="form-control p_input">
                </div>               
                <div class="form-group">
                    <label>Confirmar Senha</label>
                    <input type="password" class="form-control p_input">
                  </div>               
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-block enter-btn">Cadastrar</button>
                </div>
                <p class="sign-up text-center">Já tem uma conta?<a [routerLink]="['/login']"> Faça Login</a></p>                
                <p class="terms">Quando criado uma conta você estará aceitando com nossos<a href="#"> Termos e Condições</a></p>
              </form>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- row ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>